@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|VT323|Oswald');

body {
    background-image: url('./images/Wood-Pattern10.jpg') 
}

.app {
    display:flex;
    padding: 50px;
    justify-content: center;
}

.game-container {
    position: relative;
    width: 420px;
    height: 420px;
}

.btn-container {
    display: flex;
}

.game-btn {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    border: 5px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2)
}

.center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 195px;
    height: 195px;
    font-size: 30px;
    text-align: center;
    border: 10px solid black;
    border-radius: 100%;
    background-color: white;
    top: 25%;
    left: 25%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

.game-title {
    font-family: 'Alfa Slab One';
    font-size: 35px;
}

.game-display {
    font-family: 'Orbitron';
    font-size: 12px;
    color: red;
    background-color: black;
    padding: 5px;
    border-radius: 5%;
    margin: 5px;
    border: 3px solid gray;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
    width: 100px;
}

.menu-btn {
    font-family: 'Alfa Slab One';
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
    background-color: white;
    color: black;
}

.strict {
    font-size: 20px;
    float: right;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }

  input.cmn-toggle-round + label {
    padding: 2px;
    width: 30px;
    height: 15px;
    background-color: black;
    border-radius: 15px;
  }
  input.cmn-toggle-round + label:before,
  input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }
  input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: gray;
    border-radius: 15px;
    transition: background 0.4s;
  }
  input.cmn-toggle-round + label:after {
    width: 15px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
  }
  input.cmn-toggle-round:checked + label:before {
    background-color: gray;
  }
  input.cmn-toggle-round:checked + label:after {
    margin-left: 15px;
  }

#green-btn {
    background-color: green;
    border-top-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 100%
}

#red-btn {
    background-color: red;
    border-top-width: 10px;
    border-right-width: 10px;
    border-top-right-radius: 100%;
}

#yellow-btn {
    background-color: yellow;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-bottom-left-radius: 100%;
}

#blue-btn {
    background-color: blue;
    border-bottom-width: 10px;
    border-right-width: 10px;
    border-bottom-right-radius: 100%;
}