@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|VT323|Oswald');

body {
    background-image: url('./images/Wood-Pattern10.jpg') 
}

.app {
    display:flex;
    padding: 50px;
    justify-content: center;
}

.game-container {
    position: relative;
    width: 420px;
    height: 420px;
}

.btn-container {
    display: flex;
}

.game-btn {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    border: 5px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2)
}

.center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 195px;
    height: 195px;
    font-size: 30px;
    text-align: center;
    border: 10px solid black;
    border-radius: 100%;
    background-color: white;
    top: 25%;
    left: 25%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

.game-title {
    font-family: 'Alfa Slab One';
    font-size: 35px;
}

.game-display {
    font-family: 'Orbitron';
    font-size: 12px;
    color: red;
    background-color: black;
    padding: 5px;
    border-radius: 5%;
    margin: 5px;
    border: 3px solid gray;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
    width: 100px;
}

.menu-btn {
    font-family: 'Alfa Slab One';
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
    background-color: white;
    color: black;
}

#green-btn {
    background-color: green;
    border-top-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 100%
}

#red-btn {
    background-color: red;
    border-top-width: 10px;
    border-right-width: 10px;
    border-top-right-radius: 100%;
}

#yellow-btn {
    background-color: yellow;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-bottom-left-radius: 100%;
}

#blue-btn {
    background-color: blue;
    border-bottom-width: 10px;
    border-right-width: 10px;
    border-bottom-right-radius: 100%;
}